* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 50px;
  background-color: #FF9A4B;
}

main {
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.main-content {
  width: 300px;
  padding: 10px;
  background-color: #EEEEEE;
  position: relative;
  margin-right: 30px;
}

.main-content:nth-child(3) {
  margin-right: 0;
}

.main-content-image1 {
  height: 150px;
  background-position: bottom;
  background-size: cover;
  background-image: url(img/flow01.png);
}

.main-content-image2 {
  height: 150px;
  background-position: bottom;
  background-size: cover;
  background-image: url(img/flow02.png);
}

.main-content-image3 {
  height: 150px;
  background-position: bottom;
  background-size: cover; 
  background-image: url(img/flow03.png);
}

.main-content-text {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff9a4b;
  color: #fff;
}

.title {
  margin-top: 15px;
  margin-bottom: 5px;
}

footer {
  width: 100%;
  height: 50px;
  background-color: #AAAAAA;
}

@media screen and (max-width:768px) {
  header {
    width: 100%;
  }

  main {
    width: 100%;
    display: block;
  }

  .main-content {
    width: 100%;
  }

  .main-content-image1 {
    width: 100%;
  }

  .title {
    width: 100%;
  }

  .text {
    width: 100%;
  }
}